.home
  h1.text-center
    | Hello Scraper
  .col-md-4.col-lg-3 

    input [
      style="width: 100%; padding: 10px"
      placeholder="Type here your query"
      type="text"
      name="test"
      ng-model="test"
    ]
  .col-md-8.col-lg-9
    p.test
      | {{ test }}
