doctype html
html
  head
    title
      | Scraper
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body [
    ng-app="appTest"
    ng-controller="TestController as testCtrl"
  ]
    .container
      = yield
